* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.gradient-bg{
  background: linear-gradient(135deg,  #f5cce1, #ffe8f7, #f5dff8);
  min-height: 100vh;
  min-width: 100vw; 
  padding: 20px;
  font-family:Arial, Helvetica, sans-serif

}

.login-box{
  background-color: white;
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;

}

.login-box h1{
  color: #B72883;
  font-size: 25px;
}

.login-box p{
  color: #aaa;
  margin: 10px 0 30px 0;
  font-size: 16px;
}


.login-box button{
  width: 100%;
  padding: 10px;
  background-color: #B72883;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  
}

.input group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group p{
  color: #6e6d6d;
  font-size: 14px;
  margin: 0 0 5px 0;
  font-family: Arial, sans-serif;
  text-align: left;
}

input::placeholder {
  color: #ccc;
}

.input-group input{
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #eea5ca;
  border-radius: 5px;
}

.home-tittle h1{
  text-align: left;
  top: 20px;
  color: #B72883;
  font-size: 15px;
}

.home-tittle p{
  color: #282727;
  font-size: 15px;
  text-align: left;
  margin-bottom: 20px;
}

.home-tittle h2{
  font-size: 20px;
  color: #282727;
  margin-top: 100px;
}

.home-tittle button{
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 12px 25px;
  border: 1px solid #eea5ca;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;       
  flex-direction: column;
  width: 50%;
  margin-bottom: 20px;
  text-align: left;
}

.button-subtext{
  font-size: 12px;
  margin-top: 5px;
  color: #555;

}
